step_functions/register_new_member.json
{
  "Comment": "Registers New Members to the Library!",
  "StartAt": "Register New Member",
  "States": {
    "Register New Member": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:652258292581:function:RegisterNewMemberFunction",
      "Next": "IsRegistered?"
    },
    "IsRegistered?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "fail",
          "Next": "User Creation Issue"
        },
        {
          "Variable": "$.status",
          "StringEquals": "success",
          "Next": "Associate Group"
        }
      ]
    },
    "User Creation Issue": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:652258292581:function:UnauthorizedRegisterAccessFunction",
      "End": true
    },
    "Associate Group": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:652258292581:function:AssociateGroupToNewMemberFunction",
      "Next": "Verify Email"
    },
    "Verify Email": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:652258292581:function:VerifyEmailFunction",
      "End": true
    }
  }
}